{% extends 'layouts/master.html' %}
{% block title %}New contact{% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/signin.css')}}">
<style>


#navbart{
  display: none;
}
.home_btn{
  position:fixed;
  top:0;
  right:0;
  font-size:4ch;
  margin:5px;
  padding:5px;
  border-radius:15px;
  background:linear-gradient(45deg,#8d7e7e7e,#b5e2b959);
}
.names{
display:inline-flex;
padding: 2px 18px 2px 0px;
margin: 9px 0px 12px 10px;
background:linear-gradient(45deg,#eecc6d,#f8cc3c);
font-family: Arial, Helvetica, sans-serif;
font-size: 2.2ch;
border-radius:10px;
text-align:center;
color:black;
box-shadow: 0 9px 8px 0 #f8c10d33, 0 6px 9px 0 #ffed4d30;
}
.pur{
font-family: monospace;
font-weight:5;
font-size:4ch;
}
.f{
width:100%;
display:inline-flex;
}
@media only screen and (max-width: 400px) {
.names{
display: block;
font-size: 1ch;
}
.home_btn{
font-size:1ch;
}
}

@media only screen and (max-width: 1000px) {
.names{
font-size: 2ch;
}
.home_btn{
font-size:2ch;
}

}



.checkbox{  
background: #a5a4a4c4;
padding:10px;
border-radius:15px;
}

.checkbox input[type=checkbox]{
display: none;
}

.checkbox input[type=checkbox]:checked + .names{ 
background:linear-gradient(45deg,#4196a1,#014f97);
color:white;
box-shadow: 0 9px 8px 0 #0d7bf833, 0 6px 20px 0 #0b7dff30;
}
.disable-select {
user-select: none; /* supported by Chrome and Opera */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
}
</style>
{% endblock %}


{% block body %}
<div class="container" style="margin-top:100px;">
<a href="{{ url_for('new_contact') }}" class="btn btn-primary" style="border-radius:30px;">
  <i class="fas fa-arrow-left"></i> Back
</a>
<h1>New contact || UPLOAD CSV FILE</h1>

<hr>
<form enctype="multipart/form-data" action="{{ url_for('csvread') }}" method="post">
  <label for="file">Select a CSV file:</label>
  <input type="file" accept=".csv" id="file" name="file"><br>
	<input type="submit" class="btn btn-success" value="Add">

  
			<br>
		
		<label for="supuser"  style="display:inline-flex; width:100%;">Select the user who will have access</label>
		<div class="col-12 checkbox form-group" id="supuser" style="display:inline-flex; width:100%;">
			{% for user in supuser %}
				<input type="checkbox"  name="allow" value="{{user.username}}" id="{{user.username}}" style="padding-left:50px;" class="custom-control-input">
				<label class="custom-control-label names disable-select"  for="{{user.username}}">{{user.username}}</label> 
			{% endfor %}
		</div>
</form>
<hr>
<h4 align="center">HOW TO SETUP CSV FILE</h4>
<ul>
  <li>CSV file must have 6 Column</li>
  <li>Name of the column should be Strictly -> email,	name,	G_name,	G_W,	C_W,	phone,	batch</li>
  <li>
    email --> Email of the Student<br>
    name --> Full Name <br>
    G_name --> Guardian Name<br>
    G_W --> Guardian Whatsapp <br>
    C_W --> Student's Whatsapp
    phone --> Contact Number<br>
    batch --> Batch Name
  </li>
  <li><a href="{{ url_for('static', filename='csvfile.csv') }}" class="btn-md btn-info" >Download a Sample CSV CLICK HERE</a></li>
</ul>
</div>
{% endblock %}
